<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/background.css">
    <link rel="stylesheet" href="../static/newPassword.css">
    <link rel="stylesheet" href="../static/barra.css">
    <style>
        label{
            font-size: 20px;
        }
        div{
            margin: 0;
        }
    </style>
    <title>Actualizar Inventario</title>
</head>
<body>
    <ul>
        <li><a href="/inicioUsuario">Inicio</a></li>
        <li><a href="/">Cerrar Sesion</a></li>
    </ul>
    <div>
        {% if row %}
            <h2>Actualizar Inventario de {{row['nombre']}}</h2>
            <form action="/actualizarCantidad/{{row[0]}}" method="POST">
                <label for="cantidad">Ingrese la nueva cantidad de {{row['nombre']}} en inventario</label>
                <br>
                <input type="number" id="cantidad" name="cantidad" required>
                <br>
                <br>
                <input class="button" type="submit" value="Actualizar">
                <br>
                <br>
                <br>
                <input class="button" type="button" value="Actualizar Datos del Producto" onclick="location.href='/actualizarProducto/{{row[0]}}'">
                <input class="button" type="button" value="Eliminar Producto" onclick="location.href='/eliminarProducto/{{row[0]}}'">
            </form>
        {% endif %}
    </div>
</body>
</html>