<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/background.css">
    <link rel="stylesheet" href="../static/newPassword.css">
    <link rel="stylesheet" href="../static/barra.css">
    <style>
        div{
            margin: 0;
        }
        label{
            font-size: 20px;
        }
    </style>
    <title>Crear producto nuevo</title>
</head>
<body>
    <ul>
        <li><a href="/inicioUsuario">Inicio</a></li>
        <li><a href="/">Cerrar Sesion</a></li>
    </ul>
    <div>
        <h2>Crear Producto Nuevo</h2>
        <form method="POST" action="/producto/crear" enctype="multipart/form-data">
            <label for="referencia">Ingrese la Referencia</label>
            <br>
            <input type="text" name="referencia" id="referencia" required>
            <br>
            <br>
            <label for="nombre">Ingrese el nombre</label>
            <br>
            <input type="text" name="nombre" id="nombre" required>
            <br>
            <br>
            <label for="cantidad">Ingrese la cantidad del producto</label>
            <br>
            <input type="number" name="cantidad" id="cantidad">
            <br>
            <br>
            <label for="imagen">Ingrese la imagen del producto</label>
            <br>
            <input class="color" type="file" name="imagen" id="imagen" accept=".jpg, .jpeg, .png, .gif, .bmp" onchange="validarExtension()" required>
            <br>
            <br>
            <input class="button" type="submit" value="Crear Producto">
        </form>
    </div>
    <script src="../static/validacion.js"></script>
</body>
</html>